---
name: ci

on:
  push:
    branches: 
      - main
  pull_request:
  merge_group:

# limit the access of the generated GITHUB_TOKEN
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - run: |
          go install mvdan.cc/gofumpt@latest
          go install github.com/elastic/go-licenser@latest
      - run: |
          go mod verify
          go-licenser -d
          [ "$(gofumpt -l $(find . -name "*.go") | wc -l)" -gt 0 ] && exit 1 || echo "passed"

  test:
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-22.04', 'windows-2022']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - run: go test -v ./...
